.topbar__container {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.topbar__left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar__avatar {
    padding: 5px;
    border-radius: 10px;
    fill: var(--tgui--text_color);
    width: 28px;
    height: 28px;
}
