.tap__container{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding:20px;
    transition: transform 200ms;
    margin-top:1em
}

.tap__img{
    width:256px;
    cursor: pointer;
    user-select: none;
}

.tap__animate{
    transform: scale(0.9);
}